@import url(./btn.css);
@import url(./status.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/xxx2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.poke-type {
    position: absolute;
    width: 23%;
    height: 25px;
    top: 28%;
    left: 17%;
    background-color: rgba(255, 255, 255, 0.472);
    border: 1px solid rgba(0, 0, 0, 0.435);
    border-left: transparent;
    border-radius: 10px;
    text-align: center;
    font-size: clamp(8px, 2vw, 15px)
    
}

h1, h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-shadow: 0 0 5px white,
    0 0 10px white,
    0 0 5px aqua;
}

.pokedex-img {
    width :100%;
    padding: 10px;    
}

.poketex-conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  

}

img[alt='picachu'] {
    position: absolute;
    height: 10%;
    top: 36%;
}

.pokemon-data {
    position: absolute;    
    width: 54%;
    top: 54%;
    left: 20%;
    color: rgb(89, 89, 89);
    font-size: clamp(8px, 3vw, 22px); 
    text-align: end;
    text-shadow: none       
}


.pokemon-name {
    color: black;
    text-transform: capitalize;
    font-size: larger;   

}

.pokemon-number {
    color: rgb(167, 165, 165);
}

.shadow {
    box-shadow: -2px     3px 0px rgb(117, 114, 114),
    -4px 5px 0px rgb(32, 31, 31);
    border: 3px solid rgb(69, 66, 66);

}

.input-busca {
    position: absolute;
    width: 59%;
    top: 65%;
    left: 21%;
    padding: 2%;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    outline: none;
}

.buttons {
    position: absolute;
    top: 77%;
    width: 60%;
    text-align: start;  
    height: 20%; 
    left: 21%;

}

.button {    
    border-radius: 5px;
    width: 45%;
    height: 40%;
    font-weight: 600;
    color: white;
    background: rgb(32, 31, 31);
    font-size: clamp(8px, 5vw, 1rem);
    cursor: pointer;
}

.button:active {
    box-shadow: inset -2px 2px 7px rgb(0, 0, 0);
    font-size: 0.9rem;
}

.btn-prev {
    margin-right: 5%;
}

.nonePokebola {
    transform: translateX(-65%);
    animation: destaque 10s linear infinite alternate-reverse ;    
    transition: all;
}
@keyframes destaque {
    0% {
        transform: translateX(5%);        
    }
    50% {
        transform: translateX(35%);  
        transform: translateY(29%);     
    }
    70% {
        transform: translateX(-45%); 
        transform: translateX(40%)       
    }
    
    100% {
        transform: translateX(-65%);
    }
    
}

/* REDES SOCIAIS */

.redes-sociais{
    display: flex;
    width: 40%;   
}

.sociais-icon {
    display: flex;
    gap: 10%;
    justify-content: space-around;
    width: 250%; 
    
}

ul img {
    width: 30px;
    height: 30px;
    right: 70px;   
    box-shadow: 1px 1px 10px white;
    border-radius: 5px;
}

@media only screen and (max-width: 400px) {
    
    .redes-sociais{
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    .sociais-icon {
        display: flex;
        gap: 10%;
        justify-content: space-around;
        width: 300%;
        
    }
    .pokemon-data {
        position: absolute;    
        width: 52%;
        top: 55%;
        left: 20%;
        color: rgb(89, 89, 89);
        font-size: clamp(8px, 3vw, 22px); 
        text-align: end;
           
    }
    .shadow {
        box-shadow: -1px 1px 0px rgb(117, 114, 114),
        -3px 4px 0px rgb(32, 31, 31);
        border: 3px solid rgb(69, 66, 66);
    
    }
    .poke-type {
        height: 18px;
        top: 28%;
        
    }
    .pokemon-name {
        color: black;
        text-transform: capitalize;
        font-size: larger;   
    
    }
  }


